
data/
*.zip

results/


cache/
*.npy
*.npz
*.pkl


*.pt
*.pth
*.pth.tar


outputs/
*.mp4
*.avi


__pycache__/
*.py[cod]
.venv/
.pytest_cache/
.ruff_cache/


.vscode/
.idea/
.DS_Store


results/self_eval/
results/self_eval_gt/
